In [33]:
import ibm_db

In [34]:
dsn_driver = "IBM DB2 ODBC DRIVER"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "xlc60491"               # e.g. "dash104434"
dsn_pwd = "qf3v-jnq1rnllxl5"       # e.g. "7dBZ3wWt9XN6$o0JiX!m"

In [4]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER=IBM DB2 ODBC DRIVER;DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=xlc60491;PWD=qf3v-jnq1rnllxl5;

In [5]:
#Create database connection
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected!")
except:
    print ("Unable to connect to database")

Connected!

In [6]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table TEST_NOTEBOOK"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

 SQLCODE=-204

In [7]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = '''create table TEST_NOTEBOOK(id INTEGER PRIMARY KEY NOT NULL, 
                                         fname VARCHAR(20) NOT NULL,
                                         lname VARCHAR(20) NOT NULL,
                                         city VARCHAR(20) NOT NULL,
                                         ccode CHAR(2) NOT NULL
                                        )'''

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

In [8]:
#Construct the query - replace ... with the insert statement
insertQuery = '''INSERT INTO TEST_NOTEBOOK (id, fname, lname, city, ccode) 
                                VALUES (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')'''

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [9]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = '''INSERT INTO TEST_NOTEBOOK (id, fname, lname, city, ccode) 
                                VALUES (2, 'Raul', 'Chong', 'Markham', 'CA')'''

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [10]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery3 = '''INSERT INTO TEST_NOTEBOOK (id, fname, lname, city, ccode) 
                                VALUES (3, 'Hima', 'Vasudevan', 'chicago', 'US')'''

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery3)

In [11]:

#replace ... with the insert statement that inerts the remaining two rows of data
updateQuery = '''UPDATE TEST_NOTEBOOK SET city = 'Chicago' WHERE fname = 'Hima' '''

#execute the statement
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

In [14]:

#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "SELECT * FROM INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 1  FNAME: Rav
 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

In [14]:
ibm_db.close(conn)

True

In [13]:
sql select TABSCHEMA, TABNAME, CREATE_TIME from syscat.tables where tabschema='XLC60491'

SyntaxError: invalid syntax (<ipython-input-13-dcf59d0e3f67>, line 1)

In [27]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
import sqlalchemy as sa

In [29]:
%sql ibm_db_sa://xlc60491:qf3v-jnq1rnllxl5@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [31]:
%sql ibm_db_sa://kqj46296:whz0g%2Bm3h3wv7vtd@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])